@import './base/colors.scss';

.footer-bar {
    font-size: 10px;
    display: flex;
    height: 100%;

    div[class*="col"] {
        box-sizing: border-box;
        height: 100%;
    }

    .col-3-11 {
        flex: 3;
        padding: 15px;
    }

    .col-5-11 {
        flex: 5;
        padding: 5px;
    }

    button {
        background: transparent;
        border: 0;
        margin: 0;
        padding: 10px;
    }

    button:focus {
        border: 0;
        outline: 0;
    }

    i {
        color: #aaa;
        border-radius: 80%;
        font-size: 18px;
        transition: all .2s ease;
        transform: scale(1);
        
    }

    i:hover {
        color: #ccc;
        transform: scale(1.05);
    }

    .fa-play-circle, .fa-pause-circle {
        font-size: 35px;
        width: 35px;
        height: 35px;
    }

    .fa-play-circle:hover, .fa-pause-circle:hover {
    }

    .selected {
        // -webkit-text-stroke-width: .3px;
        // -webkit-text-stroke-color: #4bfa75;
        // text-shadow: 0px 0px 5px #4bfa75;
        color: $light-green!important;
    }

    .song-info {
        display: flex;
        align-items: center;
        justify-content: flex-start;


        .song-info-album-cover {
            width: 55px;
            height: 55px;
            object-fit: cover;
        }

        .song-info-links {
            display: flex;
            flex-direction: column;
            padding: 5px;

            .album-link {
                font-size: 14px;;
            }

            .artist-link {
                font-size: 11.5px;
                color: #bbb;
            }

            a {
                padding: 4px;
                letter-spacing: .4px
            }

            // for adding border before links
            a span {
                position: relative;
            }

            a span:after {
                content: '';
                position: absolute;
                left: 0;
                bottom: -2px;
                height: 1px;
                width: 100%;
                border-bottom: 1px solid transparent;
            }

            a:hover span:after {
                border-bottom-color: #fff;
                color: #fff;
            }
        }

    }

    .play-bar {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        .play-button {
            display: flex;
            align-items: center;
        }

        .progress-bar {
            display: flex;
            flex-direction: row;  
            align-items: center;   
            width: 100%;

            input {
                width: 100%;
                margin: 0px 10px;
            }

            input::-webkit-slider-runnable-track {
                
            }

        }

    }


    .volume-bar {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        // background-color: yellow;

        input {
            
        }

        
        button {
            text-align: left;
            width: 35px;
        }
    }
}

input::-webkit-slider-thumb {
    visibility: hidden;
}

input:hover::-webkit-slider-thumb {
    visibility: visible;
}