.fade-up {
  animation: fadeup 1.5s ease forwards;
  opacity: 0;
}

.fu1 {
  animation-delay: 600ms;
}

.fu2 {
  animation-delay: 750ms;
}

.fu3 {
  animation-delay: 900ms;
}

.fu4 {
  animation-delay: 1050ms;
}

.fu5 {
  animation-delay: 1300ms;
}

.fu6 {
  animation-delay: 1450ms;
}

@keyframes fadeup {
  0% {
    transform: translateY(200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
