$ultra-light: 'HelveticaNeue-UltraLight';
$thin: 'HelveticaNeue-Thin';
$light: 'HelveticaNeue-Light';
$normal: 'HelveticaNeue';
$medium: 'HelveticaNeue-Medium';
$bold: 'HelveticaNeue-Bold';


* {
    overflow: hidden;
}

.music-index {
    .music-index-wrapper {
        display: flex;
        justify-content: center;
        width: 100%;

    ul {
        display: flex;
        flex-wrap: wrap;
    }
}
}

.item-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.media-wrapper {
    width: 225px;
    position: relative;
    margin: 8px;
    .play-pause {
        position: absolute;
        vertical-align: center;
        text-align: center;
        background: transparent;
        border: 0;
        margin: 0;
        padding: 0;
        z-index: 4;
        outline: 0;
        transition: .2s ease;
        top: calc(50% - 45px);
        left: calc(50% - 30px);
        .fa-play-circle {
            color: #eee;
            font-size: 60px;
        }
    }
    .play-pause:active {
        transform: scale(.95);
    }
    .music-index-item {
        display: block;
    }
    .media {
        display: inline-block;
        position: relative;
        vertical-align: top;
        .media__image {
            max-width: 100%;
            display: block;
            transition: 0.2s ease;
            transform: scale(1);
            object-fit: cover;
            width: 225px;
            height: 225px;
        }
    }
    p {
        padding: 10px;
        font-size: 14px;
        letter-spacing: .6px;
        text-align: center;
        font-family: $ultra-light;
    }
}

@media (max-width: 1200px) {
    .media-wrapper {
        width: 170px;
        .media {
            .media__image {
                width: 170px;
                height: 170px;
            }
        }
    }
}

.media__body {
    background: #000;
    opacity: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    transition: 0.2s ease;
    margin: 0 auto;
    transform: scale(1);
    z-index: 3;
}

.music-index-item:hover .media__body {
    opacity: .7;
}

.music-index-item:active .media__body {
    transform: scale(.98);
}

.music-index-item:active .media .media__image {
    transform: scale(.975);
}

.media-loaded {
    background: #000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    animation: disappear .5s linear forwards;
    margin: 0 auto;
    z-index: 2;

    @keyframes disappear {
        0% { opacity: .8; }
        100% {opacity: 0; display: none; }
    }
}