$ultra-light: 'HelveticaNeue-UltraLight';
$thin: 'HelveticaNeue-Thin';
$light: 'HelveticaNeue-Light';
$normal: 'HelveticaNeue';
$medium: 'HelveticaNeue-Medium';
$bold: 'HelveticaNeue-Bold';


.browse-wrapper {
    display: flex;
    justify-content: center;
    text-align: center;
}

.browse-index-h1 {
    text-align: center;
    font-size: 45px;
    color: #eee;
    padding-top: 30px;
}


.music-index {
    .music-index-wrapper {
        display: flex;
        justify-content: center;
        width: 100%;

        
ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, 170px);
    grid-gap: 1rem;
    justify-content: center;
    
    list-style: none;
    padding: 1rem;
    width: 100%;
    margin: 0 auto;
}

.followed-artists, .followed-users {
    padding: 30px;
    h1 {
        font-size: 30px;
    }
    margin-right: -37px;
}
.followed-artists ul, .followed-users ul {
   display: flex;
   width: 80%;
   flex-wrap: wrap;
}

}
}

.item-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    &:hover .play-pause {
        width: 170px;
        height: 170px;
        position: absolute;
        top: 0;
        transition: .2s ease;
        display: none;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        border: 0;
        margin: 0;
        padding: 0;
        z-index: 10;
        outline: 0;
    }
}

.media-wrapper {
    width: 170px;
    position: relative;
    margin: 8px;

    .play-pause {
        width: 170px;
        height: 170px;
        position: absolute;
        top: 0;
        transition: .2s ease;
        display: none;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        border: 0;
        margin: 0;
        padding: 0;
        z-index: 10;
        outline: 0;
        // opacity: 0;
        // position: absolute;
        // vertical-align: center;
        // text-align: center;
        // background-color: orange!important;
        // background: transparent;
        // display: flex;
        // align-items: center;
        // justify-content: center;
        // border: 0;
        // margin: 0;
        // padding: 0;
        // z-index: 4;
        // outline: 0;
        // transition: .2s ease;
        // display: none;

        &:hover {
            display: flex!important;
        }
        
        &.playing, &.hovering {
            display: flex!important;
        }

        .play, .pause {
            width: 40px;
            height: 40px;
            background-size: 20px 20px;
            opacity: 1;
            border-color: #aaa;
            &:hover {
                transform: scale(1);
                border-color: #fff;
            }
            &:active {
                border-color: #fff;
                opacity: 1;
            }
        }
    }

    .play-pause:active {
        transform: scale(.95);
    }
    .music-index-item {
        display: block;
    }
    .media {
        display: flex;
        width: 170px;
        overflow: none;
        flex-wrap: wrap;
        position: relative;
        vertical-align: top;
        transition: 0.2s ease;
        .media__image {
            box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
            max-width: 100%;
            display: block;
            transition: 0.2s ease;
            transform: scale(1);
            object-fit: cover;
            width: 170px;
            height: 170px;
            &.collage {
                width: 85px;
                height: 85px;
            }
        }

    }
    p {
        padding: 12px;
        font-size: 14px;
        letter-spacing: .6px;
        text-align: center;
        font-family: $light;
    }
}

.index-item-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5px;

    .user-link {
        color: #bbb;
        font-size: 14px;
        margin-top: -10px;
        letter-spacing: 1px;
        &:hover {
            text-decoration: underline;
            color: #fff;
        }
    }
}

@media (max-width: 1200px) {
    .media-wrapper {
        width: 170px;
        .media {
            .media__image {
                width: 170px;
                height: 170px;
            }
        }
    }
}

.media__body {
    background: #000;
    opacity: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    transition: 0.2s ease;
    margin: 0 auto;
    transform: scale(1);
    z-index: 3;

    &.playing, &.hovering {
        opacity: .7;
        transform: scale(1.01);
    }
}

.music-index-item:hover .media__body {
    opacity: .7;
    transform: scale(1.01);
}

.music-index-item:active .media__body {
    // transform: scale(.98);
}

.music-index-item:active .media {
    transform: scale(.97);
}

.media-loaded {
    background: #000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    animation: disappear .5s linear forwards;
    margin: 0 auto;
    z-index: 2;

    @keyframes disappear {
        0% { opacity: .8; }
        100% {opacity: 0; display: none; }
    }
}