@import '../base/colors.scss';

body {
    background-color: #fff;
    font-family: 'HelveticaNeue-Light', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: white;
}

.navbar {
    width: 100%;
    transition: background-color 0.2s linear;

    .navbar-logo {
        display: flex;
        align-items: center;
        font-size: 30px;
        font-weight: 500;
        letter-spacing: -1.5px;
        flex: 2;

        a {
            padding: 20px 17px;
        }
    }

    .navbar-collapse {
        width: 90%;
        margin: 0 auto;
        display: flex;
        color: white;
    }

    .logo {
        height: 50px;
    }

    .navbar-links {
        display: flex;
        justify-content: center;
        align-items: center;

        a {
            font-size: 16px;
            font-weight: 600;
            letter-spacing: -0.5px;
            transition: color 0.08s linear;
            padding: 28px 17px;
            display: block;
            white-space: nowrap;
        }

        a:hover {
            cursor: pointer;
            color: #2d46b9;
        }

        .divider {
            margin: 0px 17px;
            height: 22px;
            width: 1px;
            background-color: white;
        }
    }
}

.navbar-logged-out {
    background-color: #00000088;

    a:hover {
        color: $light-green !important;
    }
}

#wrapper {
    background: linear-gradient(
        217deg,
        rgba(255, 0, 0, 0.8),
        rgba(255, 0, 0, 0) 70.71%
    ),
    linear-gradient(127deg, rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%),
    linear-gradient(white, white);
    height: 100vh;
}

.main-content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 150px;

    .main-content-intro {
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
            font-size: 80px;
            font-weight: bold;
            letter-spacing: -5px;
        }

        h2 {
            font-size: 25px;
            padding: 25px 15px 15px 15px;
        }

        .login {
            margin: 15px;
            align-self: center;
            display: inline-block;
            padding: 20px 60px;
            background-color: $dark-green;
            border-radius: 30px;
            text-transform: uppercase;
            font-size: 14px;
            color: #fff;
            font-weight: bold;
            letter-spacing: 1px;
            transition: background-color .5s ease;
        }

        .login:hover {
            background-color: $light-green;
            cursor: pointer;
        }
    }

    .image-links {
        padding: 20px 0px 80px 0px;
        display: flex;
        justify-content: center;
        gap: 1rem;

        div {
            width: 225px !important;

            .media__image {
                width: 225px !important;
                height: 225px !important;
            }
        }

        .music-index-item:hover .media__body.index-page {
            opacity: .75;
            transform: scale(1.01);
        }

        .music-index-item:active .media__body.index-page {
            transform: scale(1);
        }

        .music-index-item:active .media .media__image.index-page {
            transform: scale(.98);
        }

        .index-page {
            transition: .3s ease;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            font-size: 18px;

            .item-span {
                padding: 5px;
                color: #fff;
            }

            .owner-span {
                color: #bbb;
                padding: 5px;
            }
        }
    }
}
