@import '../base/colors.scss';

body {
    background-color: #fff;
    font-family: 'HelveticaNeue-Light', sans-serif;
}

a {
	text-decoration: none;
	color: white;
}

.navbar {
	z-index: 1;
	position: fixed;
	top: 0;
	width: 100%;
	transition: background-color 0.2s linear;

	.navbar-logo {
		display: flex;
		align-items: center;
		font-size: 30px;
		font-weight: 500;
		letter-spacing: -1.5px;
		flex: 2;

		a {
			padding: 20px 17px;
		}

		// a:hover {
		// 	animation: logo .5s linear infinite alternate;

		// 	@keyframes logo {
		// 		0% {text-shadow: 0px 0px 15px red;}
		// 		16.666% {text-shadow: 0px 0px 15px orange;}
		// 		33.333% {text-shadow: 0px 0px 15px yellow;}
		// 		50% {text-shadow: 0px 0px 15px green;}
		// 		66.666% {text-shadow: 0px 0px 15px blue;}
		// 		83.333% {text-shadow: 0px 0px 15px purple;}
		// 	  100% {text-shadow: 0px 0px 15px red;}
		// 	}
		// }
	}

	.navbar-collapse {
		width: 90%;
		margin: 0 auto;
		display: flex;
		color: white;
	}

	.logo {
		height: 50px;
	}

	.navbar-links {
		display: flex;
		justify-content: center;
		align-items: center;
		// flex: 1;

		a, .log-out {
			font-size: 16px;
			font-weight: 600;
			letter-spacing: -0.5px;
			transition: color 0.08s linear;
			padding: 28px 17px;
			display: block;
		}

		.log-out {
			background-color: transparent;
			border: none;
			margin: none;
			color: #999;
		}

		a:hover, .log-out:hover {
			cursor: pointer;
			color: #2d46b9;
		}

		li:last-child {
			/* padding-right: 0; */
		}
		
		.divider {
			margin: 0px 17px;
			height: 22px;
			width: 1px;
			background-color: white;
		}

		.dropdown-menu {
			z-index: 2;
		}
		
		.dropdown a {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	}

}

.sticky {
	transition: background-color 0.2s linear;
	background-color: #00000088;
	
	.navbar-links a:hover {
		color: $light-green;
	}
}

// @keyframes logo {
// 	0% {text-shadow: 0px 0px 1px white;}
//   100% {text-shadow: 0px 0px 5px white;}
// } */

// @keyframes logo {
// 	0% {text-shadow: 0px 0px 15px red;}
// 	16.666% {text-shadow: 0px 0px 15px orange;}
// 	33.333% {text-shadow: 0px 0px 15px yellow;}
// 	50% {text-shadow: 0px 0px 15px green;}
// 	66.666% {text-shadow: 0px 0px 15px blue;}
// 	83.333% {text-shadow: 0px 0px 15px purple;}
//   100% {text-shadow: 0px 0px 15px red;}
// }

// @keyframes logo {
// 	0% {color: red;}
// 	16.666% {color: orange;}
// 	33.333% {color: yellow;}
// 	50% {color: green;}
// 	66.666% {color: blue;}
// 	83.333% {color: purple;}
//   100% {color: red;}
// }

.navbar-logged-out {
	background-color: #00000088;

	a:hover {
		color: $light-green !important;
	}
}

#profile {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	margin-right: 15px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.navbar .navbar-links .dropdown i {
	margin-left: 15px;
}

.dropdown {
	position: relative;
}

.dropdown-menu {
	display: none;
	top: 80px;
	width: 150px;
	padding: 15px;
	color: black;
	background-color: #f9f9f9;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

.dropdown-menu.clicked {
	display: block;
	position: absolute;
	border-radius: 3px;
}

.arrow-up {
	position: absolute;
	bottom: 100%;
	right: 12%;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 15px solid #f9f9f9;
}

.dropdown-menu a, .dropdown-menu .log-out {
	color: #000;
	padding: 10px !important;
	font-weight: 600;
}

.modal-screen {
	display: none;
}

.modal-screen.clicked {
	display: block;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
}

#wrapper {
	background: linear-gradient(
		217deg,
		rgba(255, 0, 0, 0.8),
		rgba(255, 0, 0, 0) 70.71%
	),
	linear-gradient(127deg, rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0) 70.71%),
	linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%),
	linear-gradient(white, white);
}

.main-content-wrapper {
	display: flex;
	justify-content: center;
	padding-top: 150px;
	width: 100%;
	margin: 0 auto;

	.main-content-intro {
		color: #fff;

		display: flex;
		flex-direction: column;
		align-items: center;

		h1 {
			font-size: 25px;
			font-weight: bold;
		}

		img {
			width: 1000px;
			margin: 0 auto;
		}

	}

	.web-player-link {
		margin: 15px;
		align-self: center;
		display: inline-block;
		padding: 15px 40px;
		background-color: $dark-green;
		border-radius: 20px;
		text-transform: uppercase;
		font-size: 12px;
		color: #fff;
		font-weight: bold;
		letter-spacing: 1.5px;
		transition: background-color .5s ease;
	}

	.web-player-link:hover {
		background-color: $light-green;
		cursor: pointer;
	}
}

.footer-wrapper {
	background-color: #000;
	padding: 50px 0px;

	.footer-content {
		width: 90%;
		margin: 0 auto;

		.logo {
		height: 50px;
		}
	}
}