@import './base/colors.scss';

.progress-bar-wrapper {
    width: 100%;
    display: flex column;
    align-items: center;
}

.played {
    height: 4px;
    background-color: #bbb;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 2;
    border-radius: 5px;
    transition: background-color .1s ease;
}

.overlay-wrapper:hover .played {
    background-color: $dark-green;
    transition: .1-s ease;
}

.player-underlay {
    height: 4px;
    background-color: #444;
    position: absolute;
    left: 0px;
    top: 0px;
    border-radius: 5px;
    width: 100%;
}

.progress-bar-with-duration {
    display: flex;
    align-items: center; 
    justify-content: center;
}

.seek-slider {
    width: 100%;
    background: transparent;
    margin: 0!important;
    padding: 0!important;
    position: relative;
    z-index: 3;
    -webkit-appearance: none;
    height: 3px;
    outline: 0;

}

.overlay-wrapper {
    width: 100%;
    position: relative;
    margin: 0px 10px;
}

.seek-slider-wrapper {
    display: flex;
    justify-content: flex-start;
}

input[type="range"]::-webkit-slider-thumb {
transform: scale(0);
-webkit-appearance: none;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: #eee;
  margin-top: 1px;
  cursor: pointer; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 0px 0px 1px #555;
  transition: .15s ease;
}

input[type="range"]:hover::-webkit-slider-thumb, input[type="range"]:active::-webkit-slider-thumb {
    transform: scale(1)
}


.play-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    .play-button {
        display: flex;
        align-items: center;
    }

    .progress-bar {
        display: flex;
        flex-direction: row;  
        align-items: center;   
        width: 100%;

        input {
            width: 100%;
            margin: 0px 10px;
        }

        input::-webkit-slider-runnable-track {
            
        }

    }

}