

.show-page-main {
    padding-top: 15px;
   display: flex;
   width: 100%;

   .show-info {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        flex: 1;
        padding-left: 50px;
        margin-right: 50px;

        .media-wrapper {
            padding-left: 0px;
            margin-left: auto;
            width: 320px;

            .media__image {
                width: 320px;
                height: 320px;
            }

            .music-index-item:hover {
                cursor: default;
            }

            p {
                font-size: 28px;
                line-height: 36px;
                letter-spacing: -.005em;
                font-weight: 600;
            }
        }
   }

   .song-index-item-wrapper {
    position: relative;
    }

   .single-click-handler {
        padding: 15px;
        left: 12px;
        top: 7px;
        position: absolute;
        z-index: 5;
   }

   .show-songs {
        flex: 2;
        margin-left: 30px;
        padding-right: 120px;

        ol {

            .song-index-item-wrapper {
                padding: 15px 15px 15px 40px;
                transition: .3s ease;

                &.playing {
                   
                }
            }

            .song-index-item {
                list-style: decimal outside;
                position: relative;
                width: 100%;
                height: 100%;

                span {
                    color: #fff;
                    margin-left: 10px;
                }
            }

            .song-index-item-wrapper:hover .song-index-item, .playing .song-index-item {
                list-style: none;
            }

            .song-index-item-wrapper:hover .song-index-item:before, .playing .song-index-item:before {
                content: '';
                position: absolute;
                left: -20px;
                background-image: url('https://s3.us-east-2.amazonaws.com/bop-images/utility/play_large.png');
                background-size: 13px;
                background-position: auto;
                width: 13px;
                height: 15px;
            }

            .playing .song-index-item:before, .playing:hover .song-index-item:before {
                background-image: url('https://s3.us-east-2.amazonaws.com/bop-images/utility/pause_large.png');

            }


            .song-index-item-wrapper:hover, .playing {
                background: rgba(0, 0, 0, .5);
            }
        }
   }
}

.song-index-item-wrapper {
    display: flex;

    .song-index-item {
        flex: 6;
    }

    .song-dropdown-wrapper {
        flex: 1;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        .dropdown-handler {
            letter-spacing: 2px;
            font-size: 25px;
            padding: 0;
            margin: 0;
            border: 0;
            line-height: 0px;
            transform: scale(1);
            transition: .05s ease;
            color: #fff;
        }

        .dropdown-handler:hover {
        }

        .dropdown-handler:active {
            transform: scale(.92);
        }
    
        .dropdown-menu {
            position: absolute;
            width: 190px;
            padding: 0;
            top: 20px;
            right: 50px;
            background: linear-gradient(#181818, #383838);
            z-index: 1;
            
            .song-dropdown {
                padding-top: 3px;
                padding-bottom: 3px;
                border-radius: 10px;
                width: 100%;
                height: 100%;

                .dropdown-li {
                    color: #bbb;
                    font-size: 14px;
                    font-weight: 400;

                    padding: 15px;
                    box-sizing: border-box;
                    width: 100%;
                    height: 100%;
                    // background-color: red;
                    transition: .1s ease;
                }

                .dropdown-li:hover {
                    background-color: rgba(50, 50, 50, .8);
                    color: #fff;
                }
            }
        }
    }
}


.playlist-index-wrapper {
    display: flex;
    flex-direction: column;
    width: 320px;
}

.delete-button-wrapper {
    align-self: center;
}

.delete-playlist-button {
    outline: 0;
    padding: 11px 18px;
    border-radius: 20px;
    text-transform: uppercase;
    font-size: 11px;
    color: #fff;
    letter-spacing: 2px;
    transition: .05s ease;
    transform: scale(1);
    background: rgba(35, 35, 35, .8);
    border: 2px solid #bbb;
}

.delete-playlist-button:hover {
    cursor: default;
    transform: scale(1.05);
    border-color: #eee;
}