@import './base/colors.scss';

.top-nav-bar {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 30px 0px 15px 0px;

    .top-nav-link-wrapper {
        margin: 20px;

        display: flex;
        flex-direction: column;
        align-items: center;

        a {
            font-size: 12px;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-family: 'HelveticaNeue';
            color: #bbb;
            transition: .3s ease;
        }

        a:hover {
            color: #fff;
        }

        .nav-link-selected {
            color: #fff;
            position: relative;
        }

        .nav-link-selected span:before {
            position: absolute;
            content: '';
            width: 30px;
            height: 1px;
            bottom: 0;
            margin-bottom: -5px;
            left: calc(50% - 15px);
            border-bottom: 2px solid $dark-green;
        }
    }

}

.nav-flex-wrapper {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.nav-empty, .new-playlist {
    flex: 1;
}

.top-nav-bar {
    flex: 2;
}

.top-nav-link-wrapper span {
    white-space: nowrap;
}