.user-artist-show-wrapper {
    display: flex column;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    align-content: center;

    h1 {
        color: #fff;
        text-align: center;
    }

    .user-artist-intro {
        width: 100%;
        padding-top: 100px;

        h1 {
            font-size: 60px;
        }
    }

    .artist-random-songs {

        h1 {
        font-size: 30px;

    }
    }

}