<!DOCTYPE html>
<html>
<head>
  <title>Bop</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>

<body>
  <%= yield %>
  <script src="/assets/main.bundle.js"></script>
  <script src="/assets/vendors.bundle.js"></script>
</body>
</html>
